/* Base styles */
.privacy-policy-container {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 120px;
    line-height: 1.6;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
  }
  
  .h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  .h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: blac;
  }
  
  .p, .ul {
    font-size: 1rem;
    margin-bottom: 10px;
    color: blac;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  address {
    font-style: normal;
    margin-bottom: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .privacy-policy-container {
      padding: 45px;
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.3rem;
    }
  
    h3 {
      font-size: 1.1rem;
    }
  
    p,
    ul li {
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 480px) {
    .privacy-policy-container {
      padding: 45px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    h3 {
      font-size: 1rem;
    }
  
    p,
    ul li {
      font-size: 0.9rem;
    }
  }
  